@model CoreGenericRepo.Models.Entity.MovieCategoryModel

@{
    ViewData["Title"] = "Ekle";
}

<h1>Ekle</h1>

<h4>MovieCategoryModel</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Ekle">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="movieCategory.MovieCategoryID" class="control-label" typeof="hidden"></label>
				<input asp-for="movieCategory.MovieCategoryID" disabled class="form-control" />
				<span asp-validation-for="movieCategory.MovieCategoryID" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="movieCategory.MovieCategoryName" class="control-label"></label>
				<input asp-for="movieCategory.MovieCategoryName" class="form-control" />
				<span asp-validation-for="movieCategory.MovieCategoryName" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
